#matlab files
g_t_database.mat
results_songs_database.mat
precision_recall.m
ground_truth/
result/
amdet_ver7_sr.m
precision_recall_tamborim.mat
result.mat
ground_truth.mat
#txt files
result_1.txt
steps_to_precision_recall.txt
tamborim_result/

#.wav files

#copy of onset_gd
onset_GD.asv

#Other formats
result_1.mlf
analyzes/
